
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-----------link---------*/

a{
    color: white;
}
a:hover{
    color: red;
}

/*-------- header --------*/
h1{
    font-size: 80px;
    display: flex;
    color: white;   
    font-weight: 280px;
    color: #ffffff;
    text-shadow: 0 1px 0px #000000, 1px 0 0px #000000, 1px 2px 1px #000000, 2px 1px 1px #000000, 2px 3px 2px #282a2b, 3px 2px 2px #1d1d1d, 3px 4px 2px #202020, 4px 3px 3px #3e3f3f, 4px 5px 3px #000000, 5px 4px 2px #161718, 5px 6px 2px #131314, 6px 5px 2px #1c1d1d, 6px 7px 1px #1f1f1f, 7px 6px 1px #242424, 7px 8px 0px #494949, 8px 7px 0px #f8fdff;
}

@media (min-width: 375px) {

    .h1{
        font-size: 40px;   }
}

header{
    display: flex;
    background-color: #CC1C1C;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}


a{
    padding-left: 15px;
}


h2 {
    padding-top: 20px;
    padding-left: 15px;
}

@media (max-widht: 375px){
    body{
        background-color: #CC1C1C;
    }        
    }
    


/*---- cronologia------*/

.name{
    color: black;
}

.name:hover{
    color: red;
}

.ordenPosters {

    display: flex;
    text-align: center;
    
}

.cronologia{

    padding: 18px;

}

.poster:hover{

    transform: scale(1.1);
    transition: all;
    transition-delay: 0.15s;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.26), 5px 5px 15px 5px rgba(0,0,0,0.26); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.26), 5px 5px 15px 5px rgba(0,0,0,0.26);
}
    

/*------------ GRID ----------- */


.grid-container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 10px;
    grid-template-areas:
    "area1 area1 . area0 area0"
    "area1 area1 . area2 area2"
    "area1 area1 . area2 area2"
    "area1 area1 . area2 area2"
    "area3 area3 area3 area3 area3"
    ;
}
/* --------- Proximos estrenos-----------*/


    .grid1 {

        grid-area: area1;
        text-align: center;
        background: grey;
        text-align: center;
        border: 5px;
        left: 20px;
        background-color: #D9D9D9 ;
        width: 600px;
        height: 500px;
        padding: 10px;
        overflow: scroll;
}

h2{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    text-decoration:underline;
}

.estrenos{

    display: flex;
    text-align: center;
    padding-top: 5px;
}



/*----------------NOTICIAS--------------*/

.grid2{
    grid-area: area2;
    background-color: rgb(219, 218, 218);
    text-align: center;
    width: 350px;
    height: 250px;
    border: rgb(189, 189, 189) solid;
    
}

.text{
    border-bottom: rgb(133, 128, 128) solid 1px;
    text-align: center;
    margin: 8px;
    padding-top: 2px;
    padding-bottom: 4px;
}


/* ----------- fases -----------------*/

aside{
    padding-top: 20px;
    grid-area: area3;
}


.fases{
    font-size: 90px;
    text-align: center;
    color: white;
    background-image: url(../imagenes/fases.png);
    background-size: 450px;
    background-position: center;
}

/* ----- footer ------*/

footer{

    background-color: #CC1C1C;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}

.redes{
    font-size: 20px;
    color: white;
    padding-bottom: 2px;
    display: flex;
    flex-direction: column;
    
}

main{
    padding-top: 20px;
    padding-bottom: 20px;
}





/*============ PELICULAS ==============*/

.ordenPelis {

    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.pelis{

    padding: 18px;
    width: 215px;
    
    }


    /* ========== SERIES ======== */

.ordenSeries {

        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
h4{
    padding-left: 10px;
    
}

.series{
    
        padding: 18px;
        width: 215px;
        
        }
    



        /*========== CRONOLOGIA ===========*/

.subtitulo{

    padding-left: 15px;
    font-size: 15px;
}

.cronoOrden{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.crono{
    padding: 18px;
    width: 215px;
}

.cronoPost{
    text-align: center;
    width: 100%;

}


/* =============FASES========== */

.fase1{
    font-size: 90px;;
    text-align: center;
    color: rgb(16, 27, 180);
    background-image: url(../imagenes/fase1.jpg);
    background-size: 200px;
    background-position: center;
}

.fase2{

    font-size: 90px;;
    text-align: center;
    color: red;
    background-image: url(../imagenes/gemamente.jpg_large);
    background-size: 300px;
    background-position: center;
    padding-bottom: 20px;

}

.fase3{
    font-size: 90px;;
    text-align: center;
    color: white;
    background-image: url(../imagenes/stones.jpg);
    background-size: 400px;
    background-position: center;
}


.fase{

    padding: 18px;
    width: 215px;
    text-align: center;
    
    }

.ordenFases{
    display: flex;
    flex-wrap: wrap;
}

.datos{
    font-size: 10px;
    text-align: center;
}

